@model List<Services.Models.ShortJobPosting>
@{
    ViewBag.Title = "MKD-Employment";
}

<div class="container">
    <div class="row">

        <div class="col-md-12 text-center ">

            <div class="btn-group-lg text-center">
                <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Browse jobs by regions
                    <span class="caret"></span>
                </button>

                <div class="dropdown-menu  text-center">

                    <button class=" btn btn-primary btn-sm">@Html.ActionLink("Skopje", "GetPostingsByRegion", "JobPosting", new { id = 9 }, null)</button>
                    <button class=" btn btn-primary btn-sm">@Html.ActionLink("Eastern", "GetPostingsByRegion", "JobPosting", new { id = 2 }, null)</button>
                    <button class=" btn btn-primary btn-sm">@Html.ActionLink("Pelagonia", "GetPostingsByRegion", "JobPosting", new { id = 3 }, null)</button>
                    <button class="  btn btn-primary btn-sm">@Html.ActionLink("Southeastern", "GetPostingsByRegion", "JobPosting", new { id = 4 }, null)</button>
                    <button class="btn btn-primary btn-sm">@Html.ActionLink("Polog", "GetPostingsByRegion", "JobPosting", new { id = 5 }, null)</button>
                    <button class="btn btn-primary btn-sm">@Html.ActionLink("Northeastern", "GetPostingsByRegion", "JobPosting", new { id = 6 }, null)</button>
                    <button class="btn btn-primary btn-sm">@Html.ActionLink("Southwestern", "GetPostingsByRegion", "JobPosting", new { id = 7 }, null)</button>
                    <button class="btn btn-primary btn-sm">@Html.ActionLink("Vardar", "GetPostingsByRegion", "JobPosting", new { id = 8 }, null)</button>


                </div>

                <br />
            </div>

        </div>
    </div>

    <img src="~/Content/regions_of_macedonia.png" class="img-responsive" style="width:100%">
</div>
<br />
<div class="col-md-12">

    <h3 class="text-white"> Latest 5 job postings</h3>
    <div class="card-deck ">

        @foreach (var item in Model)
        {
            <div class="card col-md-2 bg-faded">
                <img src="@Url.Content(item.ImagePath)" class="card-img-top img-rounded img-responsive" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Job Title: @item.JobTitle</h5>
                    <p class="card-text">Company: @item.CompanyName</p>
                    <p class="card-text">Posted on: @item.JobPostedDate.ToShortDateString() </p>
                    <p class="card-text">Valid to: @item.JobAvailableToDate.ToShortDateString() </p>
                    <button class="btn btn-primary">@Html.ActionLink("Go to listing", "GetPosting", "JobPosting", new { ID = (item.PostID) }, null)</button>
                </div>
            </div>
        }

    </div>
</div>
<br />


